/*Start variables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-backgroud-color:#f6f6f6;
    --text-color:#777;
}
/* End variables*/

/* Start Component  */
.special-heading{
    font-size:100px;
    font-weight: 800;
    color:#ebeced;;
    text-align: center;
    letter-spacing: -2px;
    margin:0;
}
.special-heading + p{
    text-align: center;
    color:#575757;
    margin-top:-27px;
}
@media(max-width: 768px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* End Component  */

/*Start Global Rules*/
/* Box sizing on all elements*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
/* same font for all elements*/
body {
    font-family: "Work Sans", sans-serif;
}
/* parent to fill full screen*/
/*.parent{
    background-color: #eee;
} */
.container{
    /*background-color: #999;*/
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Media queries- responsive */
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/*Start Global Rules*/
/* start header*/
/*Resize logo */
.header .container .logo{
    width:60px;
}
/* add padding to header (not to start from beginning)*/
.header {
    padding:20px;
}
/* Adjust header items*/
.header .container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header .container .links .icons{
    width:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* .container .line{
    background-color: red;
    width:5px;
    height:100%;
    position:absolute;
    left:750px
}*/
/*set properties for all span elements*/
.header .container .icons span{
    height:2px;
    background-color: #333;
    margin-bottom: 5px;
}
.header .container .icons span:first-child{
    width:100%;
}
.header .container .icons span:nth-child(2){
    width:60%;
    transition:0.3s;
}
.header .container .icons span:last-child{
    width:100%
}
/*make links relative position */ 
.header .links{
    position: relative;
}
/*apply transition when hover*/
.header .links:hover .icons span:nth-child(2){
    width: 100%;
}
.header .links ul{
    background-color: #f6f6f6;
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    right:0;
    min-width: 200px;
    top:calc(100% + 15px);
    display:none;
    z-index: 1;
}
.header .links ul a{
    display:block;
    padding:15px;
    text-decoration: none;
    color:#333;
    transition:0.3s;
}
.header .links ul :not(:last-child) a{
    border-bottom:1px solid #ddd;
}
.header .links ul li a:hover{ 
    padding-left:25px
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position:absolute;
    right:5px;
    top:-20px; 
}
.header .links:hover ul{
    display:block;
}
/* end header*/
/* start landing */

.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height:calc(100vh - 64px);
    position:relative;

}
.landing h1{
    margin:0;
    color:var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align: center;
    width:320px;
    max-width: 100%;
}
.landing .intro-text p{
    font-size:19px;
    line-height: 1.8;
}

/* end landing */
/* Start features */
.features{
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:20px;
}

.features .container .feat{
   padding:20px;
   text-align: center;
}
.features .container .feat i{
    color:var(--main-color);
}
.feat h3{
    margin:30px 0;
    font-weight:800;
}
.feat p{
    line-height: 1.8;
    color: var(--text-color);
    font-size: 17px;
}
/* End features */
/* Start Sections */
/*Same as features*/
.services{
    padding-top: 60px;
    padding-bottom: 60px; 
    /* background-color: rebeccapurple;*/
}
.services .service-content{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:50px;
    margin-top: 100px;
}
.image-column img{
    width:260px;
    height: 100%
}
 .services .service-content .col .service{
    display:flex;
    margin-bottom:50px;
    /*flex-flow: column; */
}
@media (max-width: 767px) {
    .services .service-content .col .service {
      flex-direction: column;
      text-align: center;
    }
  } 
.services .service-content .col .service i{
    color: var(--main-color);
    flex-basis: 60px;
  }
.services .service-content .col .service .text{
    flex:1;
  }
.services .service-content .col .service .text h3{
    margin: 0 0 20px;   /*top right down*/
}
.services .service-content .col .service .text p{
    color:var(--text-color);
    line-height: 1.6;
    font-weight: 400;
} 
@media(max-width : 1199px){
 .image-column {
    display:none;}
}
.services .service-content .col .image-column{
    text-align: center;
    position:relative;
}
.services .service-content .col .image-column::before{
    content: "";
    background-color: var(--secondary-color);
    width:100px;
    height:calc(100% + 100px);
    position:absolute;
    right:0;
    top:-50px;
    z-index:-1;
}
/* End Sections */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-backgroud-color);
}
.portfolio .portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:50px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    width:100%;
}
.portfolio .portfolio-content .card .info{
    padding:20px;
}
.portfolio .portfolio-content .card .info h3{
    margin:0;
}
.portfolio .portfolio-content .card .info p{
    line-height: 1.6;
    font-weight: 400;
    color:var(--text-color);
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .portfolio .portfolio-content .card {
      flex-direction: column;
      text-align: center;
    }
  } 
/* End Portfolio */
/* Start About */
/* End About */